.App {
  text-align: center;
}

body{
  background-color:rgb(200, 233, 222);
  padding:30px;
  margin:30px;
}

.btn{
  font-size: 20px;
  background-color: rgb(233, 233, 186);
}
.input{
  font-size: 20px;
  background-color
  :beige; 
}
p{
  font-size: 25px;
  color:blue
}